.cardContainer {
  height: 450px;
  width: 100%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
  align-items: center;
}
.cardContainer:hover {
  transform: scale(1.05);
}

.cardImages {
  height: 200px;
  width: 100%;
}
.cardTitle {
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.cardDescription {
  font-size: 16px;
  text-align: center;
  color: #5f6773;
  line-height: 1.62;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
